body {
    margin: 0;
    padding: 10vh;
    height: 97vh;
    box-sizing: border-box;
    font-family: sans-serif; /* Define uma fonte genérica */
    background-color: rgb(131, 180, 157);
    font-size: 18px;
}

#contentSite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
}

input {
    padding: 5px;
    border: 2px solid rgb(126, 126, 126);
    caret-color: black;
    font-size: 16px;
    text-align: end;
    text-decoration: none;
    border-radius: 3px;
    

}

#calcu-m {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px double rgb(0, 0, 0);
    width: 70vh;
    height: 50vh;
    color: whitesmoke;
    border-radius: 7px;
    background-color: rgb(96, 134, 115);
}

#resultado {
    background-color: lightgray;
    width: 50%;
}

#pesoCubado{
    background-color: lightgray;
    width: 50%;
}

#fazerCalculo{
    padding: 10px;
    background-color: rgb(1, 39, 1);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

#fazerCalculo:hover{
    background-color: rgb(29, 92, 29);
}

#result{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
}

#makeClear{
    border-radius: 5px;
    height: 25px;
    width: 30%;
    padding: 1.75px;
    background-color: rgb(211, 78, 78);
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-decoration: dotted;
    border: 1px solid black;
    cursor: pointer;
    transition: 1s;
}

#makeClear:hover{
    background-color: brown;
    color: whitesmoke;
}

#calcFrete{
    padding: 10px;
    background-color:rgb(221, 183, 134);
    color: black;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 70vh;
    height: 6vh;
    border-radius: 7px;
    transition: 0.2s;
}

#calcFrete:hover{
    background-color:rgb(180, 136, 78);
}

#calcFreteT{
    border: 1px double rgb(0, 0, 0);
    width: 80vh;
    height: 85vh;
    color: whitesmoke;
    border-radius: 7px;
    background-color: rgb(96, 134, 115);
}

/*.oculto{
    display: none;
}
    
.visivel{
    display: block;
}*/

#calc-transport{
    padding: 5.5vh;
}

#area-de-calculo{
    display: flex;
    gap: 3vh;
}


#cidadesPanPan{
    width: 35vh;
    height: 3vh;
    font-size: 12px;
    text-align: right;
}

#cidadeInput{
    text-align: left;
    appearance: none;
}

#cidadesList{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select{
    width: 20vh;
    height: 5vh;
    font-size: 16px;
    text-align: center;
}

#transporters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#btCalcFrete{
 padding: 10px;
    background-color: rgb(1, 39, 1);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

#btCalcFrete:hover{
    background-color: rgb(29, 92, 29);
}

.visivel{
    display: block;
}

.oculto{
    display: none !important;
}

#Panservice{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Rodofar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cidadeInputRodofar {
        text-align: center;
}